
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #EAEAEF;
    --color-primary-100: #BDBECD;
    --color-primary-200: #9D9EB4;
    --color-primary-300: #707292;
    --color-primary-400: #55577D;
    --color-primary-500: #2A2D5D;
    --color-primary-600: #262955;
    --color-primary-700: #1E2042;
    --color-primary-800: #171933;
    --color-primary-900: #121327;
  
    --color-secondary-50: #F6F5FC;
    --color-secondary-100: #E4E0F5;
    --color-secondary-200: #D7D1F0;
    --color-secondary-300: #C5BDEA;
    --color-secondary-400: #B9B0E5;
    --color-secondary-500: #A89CDF;
    --color-secondary-600: #998ECB;
    --color-secondary-700: #776F9E;
    --color-secondary-800: #5C567B;
    --color-secondary-900: #47425E;
  
    --color-accent-50: #F4F8EA;
    --color-accent-100: #DEE8BE;
    --color-accent-200: #CEDD9E;
    --color-accent-300: #B8CD72;
    --color-accent-400: #AAC456;
    --color-accent-500: #95B52C;
    --color-accent-600: #88A528;
    --color-accent-700: #6A811F;
    --color-accent-800: #526418;
    --color-accent-900: #3F4C12;
  
    --color-background-50: #FEFEFF;
    --color-background-100: #FCFDFD;
    --color-background-200: #FBFBFD;
    --color-background-300: #F9FAFC;
    --color-background-400: #F8F9FB;
    --color-background-500: #F6F7FA;
    --color-background-600: #E0E1E4;
    --color-background-700: #AFAFB2;
    --color-background-800: #87888A;
    --color-background-900: #676869;
  
    
  
    /* Dark Mode Colors */
    --color-primary-dark-50: #F6F6FB;
    --color-primary-dark-100: #E3E4F2;
    --color-primary-dark-200: #D5D7EC;
    --color-primary-dark-300: #C2C4E4;
    --color-primary-dark-400: #B6B9DE;
    --color-primary-dark-500: #A4A7D6;
    --color-primary-dark-600: #9598C3;
    --color-primary-dark-700: #747798;
    --color-primary-dark-800: #5A5C76;
    --color-primary-dark-900: #45465A;
  
    --color-secondary-dark-50: #EAE9F0;
    --color-secondary-dark-100: #BDBACF;
    --color-secondary-dark-200: #9D98B8;
    --color-secondary-dark-300: #716A98;
    --color-secondary-dark-400: #554D84;
    --color-secondary-dark-500: #2B2065;
    --color-secondary-dark-600: #271D5C;
    --color-secondary-dark-700: #1F1748;
    --color-secondary-dark-800: #181238;
    --color-secondary-dark-900: #120D2A;
  
    --color-accent-dark-50: #F7FBED;
    --color-accent-dark-100: #E7F1C7;
    --color-accent-dark-200: #DCEBAC;
    --color-accent-dark-300: #CCE286;
    --color-accent-dark-400: #C2DC6E;
    --color-accent-dark-500: #B3D34A;
    --color-accent-dark-600: #A3C043;
    --color-accent-dark-700: #7F9635;
    --color-accent-dark-800: #627429;
    --color-accent-dark-900: #4B591F;
  
    --color-background-dark-50: #E6E6E7;
    --color-background-dark-100: #B2B2B3;
    --color-background-dark-200: #8C8D8E;
    --color-background-dark-300: #58595B;
    --color-background-dark-400: #37393B;
    --color-background-dark-500: #05070A;
    --color-background-dark-600: #050609;
    --color-background-dark-700: #040507;
    --color-background-dark-800: #030406;
    --color-background-dark-900: #020304;
  
    /* Typography */
    --font-headline-large: 32px;
    --font-headline-medium: 28px;
    --font-headline-small: 24px;
    --font-display-large: 20px;
    --font-display-medium: 14px;
    --font-display-small: 12px;
    --font-title-large: 22px;
    --font-title-medium: 16px;
    --font-title-small: 12px;
    --font-body-large: 16px;
    --font-body-medium: 14px;
    --font-body-small: 12px;
  }



      input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }
      .loader {
        width: 60px;
        height: 16px;
        display: flex;
        justify-content: space-between;
        animation: l3-0 2s infinite alternate;
      }
      .loader:before,
      .loader:after {
        content: "";
        width: 16px;
        border-radius: 100%;
        background: #b547ff;
        animation: l3-1 1s infinite alternate;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
}
      .loader:after {
        background: #44ff76;
        --s:-1;
      }
      @keyframes l3-0 {
         0%,40%   {transform: rotate(0)}
         80%,100% {transform: rotate(.5turn)}
      }
      @keyframes l3-1 {
         80%,100% {transform: translate(calc(var(--s,1)*14px))}
      }


      body.loaded {
     
        transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
}

button {
  transition: all 0.3s ease;
}

button:before {
  transition: opacity 0.3s ease;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}